<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bielicki.brandon.mbira">

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="4" />

    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExhibitsActivity"
            android:label="@string/title_activity_exhibits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExplorationsActivity"
            android:label="@string/title_activity_explorations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlacesActivity"
            android:label="@string/title_activity_places"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RandomActivity"
            android:label="@string/title_activity_random"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnMoreActivity"
            android:label="@string/title_activity_learn_more"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleExhibitActivity"
            android:label="@string/title_activity_single_exhibit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleExplorationActivity"
            android:label="@string/title_activity_single_exploration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleLocation"
            android:label="@string/title_activtiy_single_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExhibitMapActivity"
            android:label="@string/title_activity_exhibit_map"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ExplorationMapActivity"
            android:label="@string/title_activity_exploration_map"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NewUserForm"
            android:label="@string/title_activity_new_user_form"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
